$color-gray-dark: #333;
$color-gray: #999;
$color-gray-light: #ccc;
$color-gray-lighter: #f0f0f0;
$color-accent: $color-gray-dark;

$font-size-small: 12px;
$font-size: 14px;
$font-size-big: 16px;

$cell-width: calc(100% / 7);

.nice-dates {
  padding-top: 18px;
  position: relative;

  &-navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    z-index: 9;

    &_current {
      flex-grow: 1;
      font-size: $font-size-big;
    }

    &_previous, &_next {
      cursor: pointer;
      height: 0;
      padding-bottom: $cell-width;
      position: relative;
      width: $cell-width;

      &:before {
        border-right: 2px solid $color-gray;
        border-top: 2px solid $color-gray;
        box-sizing: border-box;
        content: '';
        display: block;
        height: 14px;
        left: 50%;
        margin-left: -7px;
        margin-top: -7px;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        transition: 200ms border-color;
        width: 14px;
      }

      &:hover:before {
        border-color: $color-accent;
      }

      &.-disabled {
        cursor: default;
        pointer-events: none;

        &:before {
          border-color: $color-gray-light;
        }
      }
    }

    &_previous:before {
      transform: rotate(-135deg);
    }
  }

  &-week-header {
    border-bottom: 1px solid $color-gray-lighter;
    display: flex;
    padding: 6px 0;

    &_day {
      color: $color-gray;
      font-size: $font-size;
      line-height: 1;
      text-align: center;
      width: $cell-width;
    }
  }

  &-grid {
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    user-select: none;

    &_container {
      backface-visibility: hidden;
      display: flex;
      flex-wrap: wrap;
      left: 0;
      position: absolute;
      right: 0;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: none;
      will-change: transform;

      &.-moving .nice-dates-day_date {
        transition: 300ms color;
      }

      &.-origin-bottom {
        top: auto;
        bottom: 0;
      }

      &.-origin-top {
        top: 0;
        bottom: auto;
      }

      &.-transition {
        transition-property: transform;
      }
    }
  }

  &-day {
    border-top: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: $font-size;
    position: relative;
    text-align: center;
    width: $cell-width;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &_date {
      transition: 150ms color;
      will-change: color;
      z-index: 3;
    }

    &_month {
      color: $color-gray;
      font-size: $font-size-small;
      line-height: 1;
      position: absolute;
      top: 10%;
      left: 0;
      right: 0;
      z-index: 3;
    }

    &:before, &:after {
      border-radius: 999px;
      bottom: 0;
      box-sizing: border-box;
      content: '';
      display: block;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:before {
      background-color: $color-accent;
      z-index: 1;
    }

    &:after {
      border: 2px solid $color-accent;
      transition: 150ms opacity;
      z-index: 2;
    }

    &:not(.-disabled):hover {
      &:after {
        opacity: 1;
      }
    }

    @media (hover: none) {
      &:after {
        content: none;
      }

      &.-selected * {
        color: #fff;
      }
    }

    &.-selected {
      &:before {
        opacity: 1;
      }

      &:hover {
        &:after {
          background-color: #fff;
        }
      }

      &:not(:hover), &.-disabled {
        * {
          color: #fff;
        }
      }

      &.-selected-start {
        &:before {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          right: 0;
        }
      }

      &.-selected-end {
        &:before {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          left: 0;
        }
      }

      &.-selected-middle {
        &:before {
          border-radius: 0;
          left: 0;
          right: 0;
        }
      }

      &.-selected-middle:nth-child(7n + 1):before {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &.-selected-middle:not(.-end):nth-child(7n):before {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }

    &.-today {
      font-weight: 600;
    }

    &.-wide {
      &:before, &:after {
        left: 12.5%;
        right: 12.5%;
      }
    }

    &.-outside {
      color: $color-gray;
    }

    &.-disabled {
      cursor: default;
      pointer-events: none;
      color: $color-gray-light;
    }
  }
}
